process {
  container = '/path/to/nf-core-methylseq-1.6.1/singularity-images/nfcore-methylseq-1.6.1.img'

 withName:makeBwaMemIndex {
    cpus = { 2 * task.attempt }
    memory = { 32000.MB * task.attempt }
    time = { 1.d * task.attempt }
  }
  withName:bwamem_align {
    cpus = { 8 * task.attempt }
    memory = { 128000.MB * task.attempt }
    time = { 6.d * task.attempt }
  }
  withName:qualimap {
    cpus = { 48 * task.attempt }
    memory = { 128000.MB * task.attempt }
    time = { 2.d * task.attempt }
  }
 withName:preseq {
    cpus = { 8 * task.attempt }
    memory = { 128000.MB * task.attempt }
    time = { 1.d * task.attempt }
  }
 withName:bismark_deduplicate {
    cpus = { 8 * task.attempt }
    memory = { 128000.MB * task.attempt }
    time = { 1.d * task.attempt }
  }

}
